{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder"> About us</h1>
                <p class="lead fw-normal text-white-50 mb-0">We have best emcommerce website</p>
                </div>
       </div>
</header>

<div class='container'>
    <div class='row'>
        <center>
            <div class="utf-8">

        <p align='justify'>
E-commerce typically uses the web for at least a part of a transaction's life cycle although it may also use other technologies such as e-mail. Typical e-commerce transactions include the purchase of products (such as books from Amazon) or services (such as music downloads in the form of digital distribution such as the iTunes Store).[2] There are three areas of e-commerce: online retailing, electronic markets, and online auctions. E-commerce is supported by electronic business.[3] The existence value of e-commerce is to allow consumers to shop online and pay online through the Internet, saving the time and space of customers and enterprises, greatly improving transaction efficiency, especially for busy office workers, and also saving a lot of valuable time.[4]

E-commerce businesses may also employ some or all of the following:

Online shopping for retail sales direct to consumers via web sites and mobile apps, conversational commerce via live chat, chatbots, and voice assistants.[5]
Providing or participating in online marketplaces, which process third-party business-to-consumer (B2C) or consumer-to-consumer (C2C) sales. Drop shipping is commonplace in such operations.
Business-to-business (B2B) buying and selling.[6] B2B, or what is referred to as business-to-business is defined by the Cambridge dictionary as business arrangements or trade between different businesses, rather than between businesses and the general public.[7]
Direct-to-Consumer (D2C) sales, in which manufactures or brands sell directly to end customers without traditional retail intermediaries. This model has expanded rapidly with the growth of digital storefronts and social commerce platforms such as Shopify, TikTok Shop, and Instagram Checkout.
Data-driven marketing, gathering demographic and behavioral data through web analytics and social media.
B2B electronic data interchange.
Marketing to prospective and established customers by e-mail or fax (for example, with newsletters).
Engaging in pretail for launching new products and services.
Online financial exchanges for currency exchanges or trading purposes.
<br> </br>
There are five essential categories of E-commerce:

        </p>

<ul>
<li> Business-to-Business </li>
<li> Business to Consumer Retail </li>
<li> Business to Government </li>
<li> Consumer-to-business </li>
<li> Consumer to Consumer </li>
<li> Direct-to-Consumer </li>
<ul>
                

            </div>
        </center>
    </div>
</div>

{% endblock %}